// Colours
$background-1: #2E3437;
$background-2: #81c6ff;
$default-light: #fff;
$default-dark: #FF7369;

// Fonts
$sans-serif: 'Noto Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;

// Responsive breaks
$break-large: 980px;

@mixin transition($args...) {
    -webkit-transition: $args;
       -moz-transition: $args;
            transition: $args;
}
